<body>
  <div class="container">
    <!--   foodfirst block Start   -->
      <div class="foodfirst">
        <div class="imagefirst">
        <%= image_tag 'katori_zyuusannri.jpg', size: '900x475' %>
        </div>
          <div class="zyuusannri">
            <div class="zyuusannrifirst">
            さわら十三里屋
            </div>
              <div class="zyuusannrisecond">
              芋専門の和菓子屋。<br>
              冷やし大学芋が絶品！
              </div>
                <div style="text-align:center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1644.5612737711244!2d140.49654437839132!3d35.889193823553974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e94d9ec5a7%3A0xaa782fae7bca795c!2z44GV44KP44KJ5Y2B5LiJ6YeM5bGL!5e0!3m2!1sja!2sjp!4v1690885947629!5m2!1sja!2sjp" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
          </div>
      </div>
    <!--   foodfirst block End   -->
    <!--   foodsecond block Start   -->
      <div class="foodsecond">
        <div class="imagefirst">
        <%= image_tag 'katori_hoteiya.jpg', size: '900x475' %>
        </div>
          <div class="hoteiya">
            <div class="hoteiyafirst">
            ほていや
            </div>
              <div class="hoteiyasecond">
              1949年創業の和洋菓子店<br>
              佐原ばやしやシフォンケーキがおすすめ！
              </div>
                <div style="text-align:center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32218.4460135297!2d140.44098786409415!3d35.88561889767432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e8a8c9fce9%3A0x7bda2ebba3204475!2z5L2Q5Y6f44Gw44KE44GX5pys6IiXIOOBu-OBpuOBhOOChCDmnKzlupc!5e0!3m2!1sja!2sjp!4v1690886440935!5m2!1sja!2sjp" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
          </div>
      </div>
    <!--   foodsecond block End   -->

    <!--   foodthird block Start   -->
      <div class="foodthird">
        <div class="imagefirst">
        <%= image_tag 'katori_tyayakakann.jpg', size: '900x475' %>
        </div>
          <div class="kakann">
            <div class="kakannfirst">
            茶屋花冠本店
            </div>
              <div class="kakannsecond">
              築180年の古民家を改築した茶屋<br>
              ほろ苦いカラメルが特徴のプリンが名物！
              </div>
                <div style="text-align:center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.3868724734048!2d140.49594897568647!3d35.88853947252102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7ec030a6fe5%3A0x53bb2bc4deb75f3!2z6Iy25bGL6Iqx5Yag5pys5bqX44O75qK244Gu5pyo44OG44Op44K5!5e0!3m2!1sja!2sjp!4v1690886620026!5m2!1sja!2sjp" width="350px" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
          </div>
      </div>
    <!--   foodthird block End   -->

    <!--   foodfourth block Start   -->
      <div class="foodfourth">
        <div class="imagefirst">
        <%= image_tag 'katori_hasegawa.jpg', size: '900x475' %>
        </div>
          <div class="hasegawa">
            <div class="hasegawafirst">
            長谷川
            </div>
              <div class="hasegawasecond">
              天保二年創業のうなぎの老舗<br>
              佐原にお越しの際は是非うな重を！
              </div>
                <div style="text-align:center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51718.19457227712!2d140.45732423269664!3d35.88853241013312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e860625f21%3A0x8398accc0fc5ed3c!2z44GG44Gq44GOIOmVt-iwt-W3nQ!5e0!3m2!1sja!2sjp!4v1690886862946!5m2!1sja!2sjp" width="350px" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
          </div>
      </div>
    <!--   foodfourth block End   -->

    <!--   foodfifth block Start   -->
      <div class="foodfifth">
        <div class="imagefirst">
        <%= image_tag 'katori_koboriya.jpg', size: '900x475' %>
        </div>
          <div class="koboriya">
            <div class="koboriyafirst">
            小堀屋本店
            </div>
              <div class="koboriyasecond">
              天明二年創業のそばの老舗<br>
              日高昆布を練り込んだ黒切り蕎麦が看板メニュー！
              </div>
                <div style="text-align:center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780.8531074597059!2d140.49679309503782!3d35.888899051280745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e94bdd99d5%3A0xdb657a89b9bef988!2z5bCP5aCA5bGL5pys5bqX!5e0!3m2!1sja!2sjp!4v1690887086700!5m2!1sja!2sjp" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
          </div>
      </div>
    <!--   foodfifth block End   -->

    <!--   foodsixth block Start   -->
      <div class="foodsixth">
        <div class="imagefirst">
        <%= image_tag 'katori_muzyan.jpg', size: '900x475' %>
        </div>
        <div class="yume">
          <div class="yumefirst">
          夢時庵
          </div>
          <div class="yumesecond">
          明治三十四年の建造物を改築したフランス料理店<br>
          リーズナブルで素材の味を活かした料理が特徴！
          </div>
          <div style="text-align:center;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d808.0877136612115!2d140.49784376960767!3d35.88942179828254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7eeb1b22b01%3A0xa658ebd88da1aa60!2z44OV44Os44Oz44OBIOODrOOCueODiOODqeODsyDlpKLmmYLlurU!5e0!3m2!1sja!2sjp!4v1690887258466!5m2!1sja!2sjp" width="350px" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
        <!--   foodsixth block End   -->

    <!--   foodseventh block Start   -->
      <div class="foodseventh">
        <div class="imagefirst">
        <%= image_tag 'katori_wa-zu.jpg', size: '900x475' %>
        </div>
        <div class="wa-zu">
          <div class="wa-zufirst">
          ワーズワース
          </div>
          <div class="wa-zusecond">
          川沿いにある古民家レストラン<br>
          手軽に食事をとりたい方におすすめ！
          </div>
          <div style="text-align:center;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51716.95306886343!2d140.4218893486328!3d35.89043319999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e92b6e297f%3A0x814197ca56f8b341!2z44Ov44O844K644Ov44O844K55L2Q5Y6f!5e0!3m2!1sja!2sjp!4v1690887473608!5m2!1sja!2sjp" width="350px" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
  </div>
</body>