<body>
    <!--   historyfirst block Start   -->
      <div class="tourismfirst">
        <div class="imagefirst">
        <%= image_tag 'katoritest.jpg', size: '900x475' %>
        </div>
          <div class="tourismbackground-brawn">
            <div class="tourismsecond">
            佐原伝統的建造物群保存地区保存地区  
            </div>
              <div class="tourismthird">
              重要伝統的建造物群保存地区に選定されている。<br>
              江戸時代からの和風の町屋や洋風建築など、時代の変遷を映し出す伝統的建造物が多く存在する。
              </div>
          </div>
      </div>
    <!--   historyfirst block End   -->

    <!--   historysecond block Start   -->
      <div class="tourismfirst">
        <div class="imagefirst">
        <%= image_tag 'katori_katorizinnguu.jpg', size: '900x475' %>
        </div>
          <div class="tourismbackground-white">
            <div class="tourismsecond">
            香取神宮
            </div>
              <div class="tourismthird">
              東国三社の一社<br>
              神話の時代タケミカヅチと共に日本の守護を司った経津主神が祀られている。
              </div>
          </div>
      </div>
    <!--   historysecond block End   -->

    <!--   historythird block Start   -->
      <div class="tourismfirst">
        <div class="imagefirst">
        <%= image_tag 'katorikannhukuzi.jpg', size: '900x475' %>
        </div>
          <div class="tourismbackground-brawn">
            <div class="tourismsecond">
            観福寺
            </div>
              <div class="tourismthird">
              日本三大厄除弘法大師の一つ<br>
              真言宗豊山派に属し、本堂・大師堂・観音堂・不動堂・鐘楼など堂々とした構えの北総の名刹で、平将門の守護仏である観世音菩薩を本尊に祀っている。
              </div>
          </div>
      </div>
    <!--   historythird block End   -->

    <!--   historyfourth block Start   -->
      <div class="tourismfirst">
        <div class="imagefirst">
        <%= image_tag 'katori_kyuutaku.jpg', size: '900x475' %>
        </div>
          <div class="tourismbackground-white">
            <div class="tourismsecond">
            伊能忠敬旧宅
            </div>
              <div class="tourismthird">
              伊能忠敬が30年余りを過ごした邸宅<br>
              伊能家の土蔵造りの店舗のほか、炊事場、書院、土蔵が残っており佐原で最も古い建造物の一つ。
              </div>
          </div>
      </div>
    <!--   historyfourth block End   -->

    <!--   historyfifth block Start   -->
      <div class="tourismfirst">
        <div class="imagefirst">
        <%= image_tag 'katori_mitubisi.jpg', size: '900x475' %>
        </div>
          <div class="tourismbackground-brawn">
            <div class="tourismsecond">
            三菱館
            </div>
              <div class="tourismthird">
              三菱銀行佐原支店本館として建てられたレンガ造りの洋風建築<br>
              千葉県有形文化財に指定されている。
              </div>
          </div>
      </div>
    <!--   historyfifth block End   -->

    <!--   historysixth block Start   -->
      <div class="tourismfirst">
        <div class="imagefirst">
        <%= image_tag 'katorimaturi.jpg', size: '900x475' %>
        </div>
          <div class="tourismbackground-white">
            <div class="tourismsecond">
            佐原の大祭
            </div>
              <div class="tourismthird">
              7月の祇園祭と10月の秋祭りの総称であり、関東三大祭りの一つ<br>
              2016年にはユネスコ無形文化遺産に登録されている。
              </div>
          </div>
      </div>
    <!--   historysixth block End   -->
</body>