<body>
    <!--   indexfirst block Start   -->
        <div class="indexfirst">
            <div class="mozi">
            About香取
            </div>
        </div>
    <!--   first block End   -->

    <!--   indexsecond block Start   -->
        <div class="indexsecond">
            <div class="katoriimage">
                <div class="profile">
                <%= image_tag 'katori_kakann.jpg', size: '1000x630', class:"cccc" %>
                </div>
            </div>
                <div class="moziseventh">
                千葉県の北東部に位置し、豊かな水と肥沃な台地に恵まれた県内有数の農業市である香取市。<br>
                古くから米作りが大変盛んで、米の出荷量は千葉県第1位を誇ります。<br>
                肥沃な台地では芋や根菜類、葉物類、果実などさまざまな農産物の生産が盛んです。また、香取市を含めた北総地域は畜産業も大変盛んで、畜産と畑作の循環型農業も営まれています。
                </div>
                    <%= link_to '香取の食','food' ,class: 'linkfifth' %>
        </div>
    <!--   indexsecond block End   -->

    <!--   indexthird block Start   -->
        <div class="indexsecond">
            <div class="katoriimage">
            <div class="profile">
            <%= image_tag 'katorizinnguu.jpg', size: '1000x630', class:"cccc" %>
            </div>
            </div>
                <div class="moziseventh">
                利根川に面し豊かな自然や豊富な農畜産物と、「香取神宮」を始めとする国宝や重要文化財など、数多くの歴史的資源に彩られた香取市。<br>
                「重要伝統的建造物群保存地区」に指定された市街地では、豊かな水辺環境と江戸期の面影を今に伝える風情あるを楽しめます。
                </div>
                    <%= link_to '香取の観光','tourism' ,class: 'linkfifth' %>
        </div>
        <!--   indexthird block End   -->

<!--   indexfourth block Start   -->
        <div class="indexsecond">
            <div class="katoriimage">
            <div class="profile">
            <%= image_tag 'katorimaturi.jpg', size: '1000x630', class:"cccc" %>
            </div>
            </div>
                <div class="moziseventh">
                江戸時代に街道と水運が交差する河港商業都市として栄えた香取市は、小江戸三都市とよばれています。<br>
                これらの町並みは、平成百景・商家町の歴史的建造物は日本遺産に認定されています。
                </div>
                    <%= link_to '香取の歴史', 'history' ,class: 'linkfifth' %>
        </div>
    <!--   indexfourth block End   -->
</body>