<body>
    <!--   first block Start   -->
        <div class="first">
        </div>
    <!--   first block End   -->

    <!--   second block Start   -->
        <div class="second">
            <div class="secondimage">
            <%= image_tag 'katori_station.jpg', size: '750x470' %>
            </div>
        <%=link_to '香取市とは','locals/index' ,class: 'linkfirst' %> 
        </div>
    <!--   second block End   -->
    
    <div class="aaa">
        <!--   third block Start   -->
            <div class="third">
            <%= image_tag 'katori_kakann.jpg', size: '500x460' %>
            </div>
        <!--   third block End   -->


        <!--   fifth block Start   -->
            <div class="fifth">
                <div class="mozifirst">
                香取の観光
                </div>
                <div class="mozisecond">
                利根川水郷と下総の里山を満喫できる風景。<br>
                江戸時代の情緒にあふれる佐原市街を楽しめます。
                </div>
                <%= link_to '香取の観光','locals/tourism' ,class: 'linksecond' %>
            </div>
    <!--   fifth block End   -->

        <!--   seventh block Start   -->
            <div class="seventh">
            <%= image_tag 'katori_maturi.jpg', size: '510x460' %>
            </div>
        <!--   seventh block End   -->

    </div>

    <div class=bbb>
        <!--   fourth block Start   -->
            <div class="fourth">
                <div class="mozithird">
                香取の食 
                </div>
                    <div class="mozifourth">
                    豊かな水と肥沃な台地に恵まれた香取市。<br>
                    根菜類、葉物類、果実...様々な農産物を楽しめます。
                    <%= link_to '香取の食','locals/food' ,class: 'linkthird' %>
                    </div>
            </div>
        <!--   fourth block End   -->

        <!--   sixth block Start   -->
            <div class="sixth">
            <%= image_tag 'katori_zinnguu.jpg', size: '510x460' %>
            </div>
        <!--  sixthh block End   -->

    
        <!--   eighth block Start   -->
            <div class="eighth">
                <div class="mozififth">
                香取の歴史
                </div>
                    <div class="mozisixth">
                    日本で初めて実測日本地図を作成した伊能忠敬の旧宅ほか江戸時代から昭和初期に建てられた商家や土蔵が軒を連ねる佐原の町並みが広がります。
                    </div>
                    <%= link_to '香取の歴史', 'locals/history' ,class: 'linkfourth' %>
                    </div>
            </div>
    <!--   eighth block End   -->

    </div>
</body>