<body>
  <div class="container">
  <!--   tourismfirst block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katori_mitinoeki.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-brawn">
          <div class="tourismsecond">
          道の駅　水の郷さわら
          </div>
            <div class="tourismthird">
            ボートやカヌーが楽しめる！<br>
            香取市ならではの食材に出会えるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.0823324498774!2d140.50372247568683!3d35.895999172518664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7f0914919c3%3A0x3092992482cd7970!2z6YGT44Gu6aeFIOawtOOBrumDt-OBleOCj-OCiQ!5e0!3m2!1sja!2sjp!4v1690887781309!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismfirst block End   -->

  <!--   tourismsecond block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katori_kouryuukann', size: '900x475' %>
      </div>
        <div class="tourismbackground-white">
          <div class="tourismsecond">
          佐原町並交流館
          </div>
            <div class="tourismthird">
            観光やイベント情報が手に入る！<br>
            地元の人との交流ができるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.390639060329!2d140.49417418365843!3d35.88844720166872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7ec1a0ec6f3%3A0x201134928ea9cd1e!2z5L2Q5Y6f55S65Lim44G_5Lqk5rWB6aSo!5e0!3m2!1sja!2sjp!4v1690887982597!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismsecond block End   -->

  <!--   tourismthird block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katori_kinenn.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-brawn">
          <div class="tourismsecond">
          伊能忠敬記念館
          </div>
            <div class="tourismthird">
            伊能忠敬の生涯がわかる！<br>
            測量制度の高さもわかるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.3943835260275!2d140.49489037568642!3d35.888355472521056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7e9590f0ee9%3A0xe6d99dd2954f0415!2z5LyK6IO95b-g5pWs6KiY5b-16aSo!5e0!3m2!1sja!2sjp!4v1690890322157!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismthird block End   -->

  <!--   tourismfourth block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katori_dasi.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-white">
          <div class="tourismsecond">
          水郷佐原山車会館
          </div>
            <div class="tourismthird">
            佐原の大祭で使われる道具が展示中！<br>
            佐原囃子の楽器や日本一の大人形がで見られるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.3610815509187!2d140.49939702568642!3d35.889171272520876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7edd7ea940d%3A0xde4a555d37b146a0!2z5rC06YO35L2Q5Y6fIOWxsei7iuS8mumkqA!5e0!3m2!1sja!2sjp!4v1690890470771!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismfourth block End   -->

  <!--   tourismfifth block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katori_kannhukuzi.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-brawn">
          <div class="tourismsecond">
          観福寺
          </div>
            <div class="tourismthird">
            日本三大厄除大使師！<br>
            桜、夏の緑、紅葉など四季の景観も楽しめるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.697588752569!2d140.4943989836561!3d35.88092710167715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f79395047aab%3A0x5cc5bcb238ba9e3!2z6Kaz56aP5a-6!5e0!3m2!1sja!2sjp!4v1690890613284!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismfifth block End   -->

  <!--   tourismsixth block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katorizinnguu.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-white">
          <div class="tourismsecond">
          香取神宮
          </div>
            <div class="tourismthird">
            東国三社の一社！<br>
            勝運の御利益があるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25861.58129316748!2d140.47637430840555!3d35.880925315667405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f830b1e92693%3A0x2fc42b02607e216f!2z6aaZ5Y-W56We5a6uKOS4i-e3j-Wci-S4gOS5i-Wurik!5e0!3m2!1sja!2sjp!4v1690890751164!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismsixth block End   -->

  <!--   tourismseventh block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katori_kyuutaku.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-brawn">
          <div class="tourismsecond">
          伊能忠敬旧宅
          </div>
            <div class="tourismthird">
            伊能忠敬が佐原で過ごした商家！<br>
            記念館と合わせて訪れるとより楽しめるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.404000890388!2d140.49551987568637!3d35.88811987252116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7ebf8c95555%3A0x8b5651faa16b2af7!2z5LyK6IO95b-g5pWs5pen5a6F!5e0!3m2!1sja!2sjp!4v1690890940812!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  <!--   tourismseventh block End   -->

  <!--   tourismeighth block Start   -->
    <div class="tourismfirst">
      <div class="imagefirst">
      <%= image_tag 'katoritest.jpg', size: '900x475' %>
      </div>
        <div class="tourismbackground-white">
          <div class="tourismsecond">
          佐原伝統的建造物群保存地区保存地区
          </div>
            <div class="tourismthird">
            佐原の町並みを保存した地区！<br>
            散歩しているだけで歴史的町並みを楽しめるかも？
            </div>
              <div style="text-align:center;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3232.404000890388!2d140.49551987568637!3d35.88811987252116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022f7eeb28290a1%3A0xe642e8638b5a581e!2z5bCP6YeO5bed!5e0!3m2!1sja!2sjp!4v1690891119026!5m2!1sja!2sjp" width="350" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
        </div>
    </div>
  </div>
  <!--   tourismeighth block End   -->

