<!DOCTYPE html>
<html>
  <head>
    <title>Katori</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><li><%= link_to "How to香取", root_path %></li></h1>
        <div class="googlesearch">
          <script async src="https://cse.google.com/cse.js?cx=c39850ef6099f439d">
          </script>
          <div class="gcse-search">
          </div>
        </div>
          <ul>
            <div class="ddd">
            <li><%= link_to "診断",  diagnoses_a_path %></li>
            </div>
          </ul>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
